<html>
<head>
<title>Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body, html {
 font-family: Arial, Helvetica, sans-serif;
 height: 100%;
 margin: 0 auto;
}

.Submit, .Reset {
  background-color: #4d4d4d;
  font-weight: bold;
  color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 0.5px solid #ccc;
  box-sizing: border-box;
}

input[type=text]:focus {
  background-color: rgb(172, 172, 172);
}

input[type=text] {
  width: 200px;
  -webkit-transition: width .75s ease-in-out;
  transition: width .75s ease-in-out;
}

input[type=text]:focus {
  width: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4e4e4e;
  position: relative;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(126, 126, 126);
}
</style>
</head>
<body>
    <ul id="menu">
        <li><a class="nav-item nav-link active" href="/home">Logout</a></li>
        <li><a class="nav-item nav-link" href="content">Content</a></li>
        <li><a class="nav-item nav-link" href="FoodMenu">FoodMenu</a></li>
      </ul>

        <div class="login-form" Align="center">
        <form method="POST" id="work">
          <table>
          <h1>Input Food Data</h1>
          <tr><td>Food ID:</td><td><input type="text" placeholder="ID" name="ID" id="ID"></td></tr>
          <tr><td>Food Name:</td><td><input type="text" placeholder="Name" name="Name" id="Name"></td></tr>
          <tr><td>Food Price:</td><td><input type="text" placeholder="Price" name="Price" id="Price"></td></tr>
          <tr><td>Food Type:</td><td><input type="text" placeholder="Type" name="Type" id="Type"></td></tr>
          <tr><td><input type="reset" name="reset" class="Reset" value="Reset"></td>
          <td Align="center"><input type="Submit" name="Submit" class="Submit" id="Add" value="Add"></td></tr>
          </table>
        </form>
      </div> 

      <h1 Align="center">Input Food Record</h1>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th><th>Name</th><th>Price</th><th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="Menudata">
              <td>1</td><td>Pizza</td><td>$56</td><td>Food</td>
            </tr>
          </tbody>
        </table>
      <hr><button class="btn btn-success">Create table</button> </hr>
</body>
</html>